.Animals{

}
.changeFont{
  padding: 14px 16px;
  text-decoration: none;
  font-size: 200px;
}
.disabled {
  pointer-events: none;
}
.row {
  display: inline-block;
  flex-wrap: wrap;
}

.row > div[class*='col-'] {
 display: in;
}