.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  float: right;
  margin-left: 100px;
}

.App-navigation {
  overflow: hidden;
  background-color: #333;
}

.App-navigation a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.App-navigation a:hover {
  background-color: #ddd;
  color: black;
}

.App-navigation a.active {
  background-color: #4CAF50;
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
