.shared{

}
.resize {
    width: 100%;
    height: auto;
}

.link-icon {
    width: 10%;
    height: auto;
    float: right;
}

.header{
  background-color: #282c34;
 
  color: white;
}

.pictureResize{
  height: 40vmin;
  margin-right: 15px;
}



.column {
  padding: 5px;
}

.specialPadding{
  margin-right: 200px
}

